<%- include('../partials/header') %>

<style>
  html,
  body {
    background-color: #F7F8F0;
    color: black;
  }
</style>

<div style="
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
">
  <div class="container-login">

    <div style="text-align: center;">
      <a href="/"><img src="/imgs/projeflix-logo-transp-blue.png" alt="Logo" class="img-fluid mb-3" style="max-width: 150px;"></a>
    </div>

    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password_cli" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <br>
    <div class="text-center">Não tem uma conta? <a href='/auth/register'>Registre-se grátis!</a></div>

    <div class="container-transp text-center" style="margin-bottom: -10px;">
      <a href="/"><b>Voltar</b></a>
    </div>

  </div>

</div>



<%- include('../partials/footer') %>